.login_main {
  border-radius: 5px;
  box-shadow: 0px 0px 5px 1px rgb(189, 189, 189);
  box-sizing: border-box;
  width: 20%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login_main p {
  color: rgb(161, 161, 161);
  font-size: .7em;
  text-align: center;
}

.login_forms {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
}
